body {
  background-color:rgb(102,153,255);
}
h1 {
  text-align: center;
  font-size: 50px;
  color: rgb(0,51,153);
  text-decoration: underline;
}
.titulos{
  font-size: 35px;
  color: rgb(0,51,153);
  text-decoration: underline;
}
img{
  width: 35%;
  height: auto;
}
p{
  font-size: 20px;
  color: white;
}
li{
  color:white;
}

.flotante {
  position: fixed; /* Fijo en la pantalla */
   right: 20px; /* Separado 20px del borde derecho */
   bottom: 20px; /* Separado 20px del borde inferior */
   width: 150px;
}
header{
  display: flex;
  justify-content: space-around;
}
.logos{
  display: flex;
  width: 180px;
  height:auto;
  flex-wrap: nowrap;
  justify-content: center;
  padding-top: 30px;
  padding-bottom: 30px;
}
.lg{
  width: 150px;
  border-radius: 15px;
}
.maps{
  width: 200px;
  height:150px;
}
footer{
  display: flex;
  justify-content: space-around;

}
.img{
  display: flex;
  width: 100px;
  height:auto;
  flex-wrap: nowrap;
  justify-content: center;
  padding-top: 30px;
  padding-bottom: 30px;
}
.fter{
  display: flex;
  flex-wrap: nowrap;
}
